In [1]:
import env
import pandas as pd
import utilities as utils

from prepare import prepare_census
from acquire import acquire_census_df

In [99]:
census_df = pd.read_csv(env.data_path + '/census/census-income.data', delimiter=',', header=None)
census_test_df = pd.read_csv(env.data_path + '/census/census-income.test', delimiter=',', header=None)

In [100]:
census_df = pd.concat([census_df, census_test_df])

census_df.shape

(299285, 42)

In [24]:
income_df.head(5).T

,0,1,2,3,4
0,73,58,18,9,10
1,Not in universe,Self-employed-not incorporated,Not in universe,Not in universe,Not in universe
2,0,4,0,0,0
3,0,34,0,0,0
4,High school graduate,Some college but no degree,10th grade,Children,Children
5,0,0,0,0,0
6,Not in universe,Not in universe,High school,Not in universe,Not in universe
7,Widowed,Divorced,Never married,Never married,Never married
8,Not in universe or children,Construction,Not in universe or children,Not in universe or children,Not in universe or children
9,Not in universe,Precision production craft & repair,Not in universe,Not in universe,Not in universe
10,White,White,Asian or Pacific Islander,White,White
11,All other,All other,All other,All other,All other
12,Female,Male,Female,Female,Female
13,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe
14,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe
15,Not in labor force,Children or Armed Forces,Not in labor force,Children or Armed Forces,Children or Armed Forces
16,0,0,0,0,0
17,0,0,0,0,0
18,0,0,0,0,0
19,Nonfiler,Head of household,Nonfiler,Nonfiler,Nonfiler
20,Not in universe,South,Not in universe,Not in universe,Not in universe
21,Not in universe,Arkansas,Not in universe,Not in universe,Not in universe
22,Other Rel 18+ ever marr not in subfamily,Householder,Child 18+ never marr Not in a subfamily,Child <18 never marr not in subfamily,Child <18 never marr not in subfamily
23,Other relative of householder,Householder,Child 18 or older,Child under 18 never married,Child under 18 never married
24,1700.09,1053.55,991.95,1758.14,1069.16
25,?,MSA to MSA,?,Nonmover,Nonmover
26,?,Same county,?,Nonmover,Nonmover
27,?,Same county,?,Nonmover,Nonmover
28,Not in universe under 1 year old,No,Not in universe under 1 year old,Yes,Yes
29,?,Yes,?,Not in universe,Not in universe
30,0,1,0,0,0
31,Not in universe,Not in universe,Not in universe,Both parents present,Both parents present
32,United-States,United-States,Vietnam,United-States,United-States
33,United-States,United-States,Vietnam,United-States,United-States
34,United-States,United-States,Vietnam,United-States,United-States
35,Native- Born in the United States,Native- Born in the United States,Foreign born- Not a citizen of U S,Native- Born in the United States,Native- Born in the United States
36,0,0,0,0,0
37,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe
38,2,2,2,0,0
39,0,52,0,0,0
40,95,94,95,94,94
41,- 50000.,- 50000.,- 50000.,- 50000.,- 50000.

In [101]:
column_name_dictionary = {0 : 'age', 1 : 'worker_class', 2 : 'drop_1', 3 : 'drop_2', 4 : 'education',\
                         5 : 'hourly_wage', 6 : 'highest_education', 7 : 'marital_status', 8 : 'major_industry_code',\
                         9 : 'major_occupation_code', 10 : 'race', 11 : 'of_hispanic_origin', 12 : 'sex', 13 : 'is_union_member',\
                         14 : 'unemployed_reason', 15 : 'employment_status', 16 : 'capital_gains', 17 : 'capital_losses',\
                         18 : 'total_dividends', 19 : 'tax_filer_status', 20 : 'region', 21 : 'state', 22 : 'family_status',\
                         23 : 'household_summary', 24 : 'drop_3', 25 : 'drop_4', 26 : 'drop_5', 27 : 'drop_6',\
                         28 : 'lived_in_house_last_year', 29 : 'drop_7', 30 : 'company_size', 31 : 'family_members_under_18',\
                         32 : 'country_of_father', 33 : 'country_of_mother', 34 : 'birth_country', 35 : 'citizenship',\
                         36 : 'is_self_employed', 37 : 'drop_8', 38 : 'drop_9', 39 : 'weeks_worked', 40 : 'year', 41 : 'drop_10'}

In [102]:
census_df.rename(columns=column_name_dictionary, inplace=True)

In [37]:
census_df.sample(14).T

,38049,65647,127574,90924,100321,182449,60586,51197,165338,17849,32036,97793,105011,153887
age,36,14,31,58,14,46,46,59,56,39,36,11,9,52
worker_class,Local government,Not in universe,Private,Not in universe,Not in universe,Private,Private,Private,Not in universe,Private,Federal government,Not in universe,Not in universe,Private
drop_1,43,0,4,0,0,16,29,33,0,21,29,0,0,33
drop_2,38,0,42,0,0,2,37,42,0,37,2,0,0,16
education,High school graduate,Children,High school graduate,High school graduate,Children,Bachelors degree(BA AB BS),10th grade,9th grade,11th grade,High school graduate,Some college but no degree,Children,Children,High school graduate
hourly_wage,0,0,0,0,0,0,0,0,0,0,0,0,0,0
highest_education,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe
marital_status,Married-civilian spouse present,Never married,Never married,Widowed,Never married,Never married,Married-civilian spouse present,Married-civilian spouse present,Separated,Married-civilian spouse present,Divorced,Never married,Never married,Married-civilian spouse present
major_industry_code,Education,Not in universe or children,Construction,Not in universe or children,Not in universe or children,Manufacturing-durable goods,Transportation,Retail trade,Not in universe or children,Manufacturing-nondurable goods,Transportation,Not in universe or children,Not in universe or children,Retail trade
major_occupation_code,Transportation and material moving,Not in universe,Handlers equip cleaners etc,Not in universe,Not in universe,Executive admin and managerial,Machine operators assmblrs & inspctrs,Handlers equip cleaners etc,Not in universe,Machine operators assmblrs & inspctrs,Executive admin and managerial,Not in universe,Not in universe,Sales
race,White,White,White,White,White,White,White,White,White,White,White,White,White,White
of_hispanic_origin,All other,All other,Mexican-American,All other,All other,All other,All other,Central or South American,All other,All other,All other,All other,All other,All other
sex,Female,Male,Male,Male,Female,Male,Male,Male,Female,Female,Female,Female,Female,Female
is_union_member,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe
unemployed_reason,Not in universe,Not in universe,Other job loser,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe
employment_status,Children or Armed Forces,Children or Armed Forces,Unemployed full-time,Not in labor force,Children or Armed Forces,Full-time schedules,Full-time schedules,Full-time schedules,Children or Armed Forces,Full-time schedules,Full-time schedules,Children or Armed Forces,Children or Armed Forces,Children or Armed Forces
capital_gains,0,0,0,0,0,0,0,0,0,0,8614,0,0,0
capital_losses,0,0,0,0,0,0,0,0,0,0,0,0,0,0
total_dividends,0,0,0,150,0,500,0,0,0,0,0,0,0,100
tax_filer_status,Joint both under 65,Nonfiler,Single,Single,Nonfiler,Single,Joint both under 65,Joint both under 65,Nonfiler,Joint both under 65,Single,Nonfiler,Nonfiler,Joint both under 65
region,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Midwest,Midwest,Not in universe
state,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Indiana,Ohio,Not in universe
family_status,Spouse of householder,Child <18 never marr not in subfamily,Other Rel 18+ never marr not in subfamily,Nonfamily householder,Child <18 never marr not in subfamily,Nonfamily householder,Householder,Householder,Other Rel 18+ ever marr not in subfamily,Householder,Nonfamily householder,Child <18 never marr not in subfamily,Child <18 never marr not in subfamily,Spouse of householder
household_summary,Spouse of householder,Child under 18 never married,Other relative of householder,Householder,Child under 18 never married,Householder,Householder,Householder,Other relative of householder,Householder,Householder,Child under 18 never married,Child under 18 never married,Spouse of householder
drop_3,2270.2,2442.97,1769.98,1949.38,1767.9,943.75,920.07,269.99,1833.17,1809.45,403.87,1959.69,343.22,1409.26
drop_4,Nonmover,?,?,?,?,?,?,?,Nonmover,?,?,MSA to MSA,NonMSA to nonMSA,Nonmover
drop_5,Nonmover,?,?,?,?,?,?,?,Nonmover,?,?,Different county same state,Different county same state,Nonmover
drop_6,Nonmover,?,?,?,?,?,?,?,Nonmover,?,?,Different county same state,Different county same state,Nonmover
lived_in_house_last_year,Yes,Not in universe under 1 year old,Not in universe under 1 year old,Not in universe under 1 year old,Not in universe under 1 year old,Not in universe under 1 year old,Not in universe under 1 year old,Not in universe under 1 year old,Yes,Not in universe under 1 year old,Not in universe under 1 year old,No,No,Yes
drop_7,Not in universe,?,?,?,?,?,?,?,Not in universe,?,?,No,No,Not in universe
company_size,6,0,1,0,0,2,3,6,0,2,6,0,0,1
family_members_under_18,Not in universe,Mother only present,Not in universe,Not in universe,Both parents present,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Mother only present,Both parents present,Not in universe
country_of_father,United-States,United-States,Puerto-Rico,United-States,United-States,United-States,United-States,United-States,United-States,United-States,United-States,United-States,United-States,Poland
country_of_mother,United-States,United-States,Mexico,United-States,United-States,United-States,United-States,United-States,United-States,United-States,United-States,United-States,United-States,Poland
birth_country,United-States,United-States,United-States,United-States,United-States,United-States,United-States,United-States,United-States,United-States,United-States,United-States,United-States,United-States
citizenship,Native- Born in the United States,Native- Born in the United States,Native- Born in the United States,Native- Born in the United States,Native- Born in the United States,Native- Born in the United States,Native- Born in the United States,Native- Born in the United States,Native- Born in the United States,Native- Born in the United States,Native- Born in the United States,Native- Born in the United States,Native- Born in the United States,Native- Born in the United States
is_self_employed,0,0,0,0,0,0,0,0,0,2,0,0,0,0
drop_8,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe
drop_9,2,0,2,2,0,2,2,2,2,2,2,0,0,2
weeks_worked,52,0,24,0,0,52,45,52,0,52,52,0,0,52
year,94,95,95,95,95,95,95,95,94,95,95,94,94,94
drop_10,- 50000.,- 50000.,- 50000.,- 50000.,- 50000.,- 50000.,- 50000.,- 50000.,- 50000.,- 50000.,- 50000.,- 50000.,- 50000.,- 50000.

In [103]:
drop_cols = []
for col in census_df.columns:
    if "drop" in col:
        drop_cols.append(col)
        
drop_cols

census_df.drop(columns=drop_cols, inplace=True)

In [104]:
census_df = census_df[census_df.age >= 18]

census_df = census_df[census_df.weeks_worked == 52]

In [51]:
census_df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,104663.0,40.184220,12.101598,18.0,31.0,39.0,48.0,90.0
hourly_wage,104663.0,115.634971,394.750886,0.0,0.0,0.0,0.0,9999.0
capital_gains,104663.0,951.076226,7056.793461,0.0,0.0,0.0,0.0,99999.0
capital_losses,104663.0,69.801898,362.970895,0.0,0.0,0.0,0.0,4356.0
total_dividends,104663.0,234.735828,2136.490863,0.0,0.0,0.0,0.0,99999.0
company_size,104663.0,3.910885,1.967256,1.0,2.0,4.0,6.0,6.0
is_self_employed,104663.0,0.275713,0.669786,0.0,0.0,0.0,0.0,2.0
weeks_worked,104663.0,52.000000,0.000000,52.0,52.0,52.0,52.0,52.0
year,104663.0,94.503435,0.499991,94.0,94.0,95.0,95.0,95.0

In [64]:
utils.nan_null_empty_check(census_df)

NaN values
Empty DataFrame
Columns: [rows, columns]
Index: []
--------------------------------
Empty values
Empty DataFrame
Columns: [rows, columns]
Index: []
--------------------------------

{'nan_positions': (array([], dtype=int64), array([], dtype=int64)),
 'empty_positions': (array([], dtype=int64), array([], dtype=int64))}

In [106]:
census_df.hourly_wage = census_df.hourly_wage / 100

In [108]:
census_df = census_df[census_df.hourly_wage > 0]

In [110]:
census_df.shape

(11377, 32)

In [111]:
# Standard 40 hour work week for 52 weeks
census_df['total_annual_income'] = (census_df.hourly_wage * 40 * 52) + census_df.total_dividends \
+ census_df.capital_gains - census_df.capital_losses

In [112]:
census_df.describe()

,age,hourly_wage,capital_gains,capital_losses,total_dividends,company_size,is_self_employed,weeks_worked,year,total_annual_income
count,11377.000000,11377.000000,11377.000000,11377.000000,11377.000000,11377.000000,11377.000000,11377.0,11377.000000,11377.000000
mean,38.512437,10.637869,396.746770,48.421904,101.718907,4.265536,0.283027,52.0,94.503296,22576.810266
std,12.134141,6.518728,3802.460418,301.362467,1029.626798,1.775528,0.681317,0.0,0.500011,14398.526859
min,18.000000,0.750000,0.000000,0.000000,0.000000,1.000000,0.000000,52.0,94.000000,79.000000
25%,29.000000,6.550000,0.000000,0.000000,0.000000,3.000000,0.000000,52.0,94.000000,13936.000000
50%,37.000000,9.000000,0.000000,0.000000,0.000000,4.000000,0.000000,52.0,95.000000,18913.000000
75%,47.000000,13.000000,0.000000,0.000000,0.000000,6.000000,0.000000,52.0,95.000000,27456.000000
max,90.000000,99.990000,99999.000000,3900.000000,42000.000000,6.000000,2.000000,52.0,95.000000,207979.200000

In [2]:
census_df = acquire_census_df()

In [3]:
census_df.shape

(299285, 42)

In [3]:
prepped_census_df = prepare_census(census_df)

In [4]:
prepped_census_df.shape

(11377, 33)

In [5]:
prepped_census_df

,age,worker_class,education,hourly_wage,highest_education,marital_status,major_industry_code,major_occupation_code,race,of_hispanic_origin,...,company_size,family_members_under_18,country_of_father,country_of_mother,birth_country,citizenship,is_self_employed,weeks_worked,year,total_annual_income
5,48,Private,Some college but no degree,12.00,Not in universe,Married-civilian spouse present,Entertainment,Professional specialty,Amer Indian Aleut or Eskimo,All other,...,1,Not in universe,Philippines,United-States,United-States,Native- Born in the United States,2,52,95,24960.0
8,47,Local government,Some college but no degree,8.76,Not in universe,Married-civilian spouse present,Education,Adm support including clerical,White,All other,...,5,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,52,95,18220.8
49,66,Private,Some college but no degree,4.00,Not in universe,Married-civilian spouse present,Business and repair services,Machine operators assmblrs & inspctrs,White,All other,...,2,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,52,95,8320.0
155,28,Private,Some college but no degree,6.50,Not in universe,Married-civilian spouse present,Retail trade,Executive admin and managerial,White,All other,...,2,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,52,94,13520.0
164,24,Private,Associates degree-occup /vocational,11.00,Not in universe,Never married,Manufacturing-durable goods,Adm support including clerical,White,All other,...,6,Not in universe,Italy,Italy,United-States,Native- Born in the United States,0,52,94,22880.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99695,19,Private,10th grade,5.50,Not in universe,Never married,Retail trade,Other service,White,All other,...,6,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,52,95,11440.0
99697,34,Private,Some college but no degree,11.25,Not in universe,Married-civilian spouse present,Manufacturing-nondurable goods,Adm support including clerical,White,All other,...,6,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,52,95,23400.0
99705,47,Private,Bachelors degree(BA AB BS),5.65,Not in universe,Married-civilian spouse present,Business and repair services,Handlers equip cleaners etc,White,All other,...,4,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,52,95,11752.0
99735,45,Private,High school graduate,10.26,Not in universe,Married-civilian spouse present,Entertainment,Other service,Asian or Pacific Islander,All other,...,6,Not in universe,Philippines,Philippines,Philippines,Foreign born- U S citizen by naturalization,0,52,95,21340.8
99736,30,Private,Bachelors degree(BA AB BS),12.00,Not in universe,Never married,Retail trade,Sales,White,All other,...,3,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,52,94,25460.0